@using BookLibrary.Models;
@model BookLibrary.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script>$('#registerSubmit').click(function () { $(document).ready(function () { $('#registerSubmit').attr("disabled", true); }) })</script>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <h4>Register user</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @{string errorMessage = ViewBag.Error;}

        @if (ViewBag.ShowError)
        {
            <div>
                <p class="text-danger">@errorMessage</p>
            </div>

            ViewBag.ShowError = false;
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Confirm Password</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepeatPassword, "Repeat password", new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Confirm Password" } })
                @Html.ValidationMessageFor(model => model.RepeatPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfilePictureFile, "Profile picture", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProfilePictureFile, new { @class = "form-control", type = "file" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" id="registerSubmit" />
            </div>
        </div>
    </div>
            }

<div>
</div>

<script src="~/Scripts/jquery-3.1.1.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
